<!-- <footer id="section-contact" class="section dark" role="contentinfo">
  <div class="footer">
    <div class="about">
        <img src="img/wave.jpg" width="80" height="80" alt='' />
        <h4>A little bit about me or us</h4>
        <p>If you'd like to discuss a project or contract opportunities, please feel free to contact me.</p>
        <p>e. <a href="mailto:">hello@mail.com</a> <br />m. 0800 tel phone</p>
    </div>        
    <div class="info"> 
      <ul>
        <li>
          <a href="#" target="_blank"><img src="./dist/svg/icon-linkedin.min.svg" width="30" height="30" alt="LinkedIn" class="lazy" /></a>
        </li>
        <li>
          <a href="#" target="_blank"><img src="./dist/svg/icon-twitter.min.svg" width="30" height="30" alt="Twitter" class="lazy" /></a>
        </li>
        <li>
          <a href="#" target="_blank"><img src="./dist/svg/icon-github.min.svg" width="30" height="30" alt="GitHub" class="lazy" /></a>
        </li>
      </ul>      
      <p><small>&copy; 2014 brandname. All rights reserved. <br />Company Number: number</small></p>
    </div>  
  </div>
</footer> -->

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <nav>
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">RSS</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">GitHub</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">Donate</a></li>
            </ul>
          </nav>
        <p>Made by <a href="#" rel="nofollow">Nicholas Pringle</a>. Contact him at <a href="#">Nick</a>.</p>
        <p>Code released under the <a href="#">MIT License</a>.</p>
        <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

      </div>
    </div>
  </div>
</footer>