<div id="map-canvas"></div> <!-- Static image fallback? -->
<footer>
    <div class="container">
        <div class="col-md-4">
            <h4>Accreditatie</h4>
            <p style="font-size:16px;"><small>Onze behandelaars zijn lid van de:</small></p>
            <ul class="list-unstyled">
                <li><a href="http://www.ant-online.nl/">Associatie Nederlandse Tandartsen</a></li>
                <li><a href="http://www.dgparo.de/">Deutsche Gesellschaft für Parodontologie</a></li>
                <li><a href="http://www.dgzmk.de">Deutsche Gesellschaft für Zahn-, Mund- und Kieferheilkunde</a></li>
            </ul>
            <!-- <p>Copyright © Your Website 2014</p> -->
        </div>
        <div class="col-md-4">
            <h4>Adres en Contact</h4>
            <ul class="list-unstyled">
                <li><span><i class="fa fa-phone"></i> 035 – 6913480</span></li>
                <li><span><i class="fa fa-envelope"></i> contact@tandartsgooi.nl</span></li>
                <li itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                    <span itemprop="street-address">Roemer Visscherlaan 1</span>,
                    <span itemprop="postalCode">1401 RE</span>,
                    <span itemprop="locality">Bussum</span>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Social Media</h4>
            <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/tandartsgooi">Facebook</a></li>
                <li><a href="https://plus.google.com/113607329767213675246/about">Google+</a></li>
            </ul>
        </div>
    </div>
</footer>