<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand">
                <a href="#page-top">
                    <img src="img/thcglogo.svg" style="max-height:50px;margin-right:30px;">
                </a>
                <a href="call:+32356913480">
                    <span><i class="fa fa-phone"></i> {{ tel }}</span>
                </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li id="turn-white" class="hidden" {{#is title "Home"}} class="active"{{/is}}>
                    <a href="#page-top"></a>
                </li>
                <li id="_turn-white" class="_page-scroll" {{#is title "Home"}} class="active"{{/is}}>
                    <a href="index.html">Home</a>
                </li>
                <li id="_turn-white" class="_page-scroll" {{#is title "Nieuws"}} class="active"{{/is}}>
                    <a href="nieuws.html">Nieuws</a>
                </li>
                <li id="_turn-white" class="_page-scroll" {{#is title "Behandeling"}} class="active"{{/is}}>
                    <a href="behandeling.html">Behandeling</a>
                </li>
                <li id="_turn-white" class="_page-scroll" {{#is title "Spoedhulp"}} class="active"{{/is}}>
                    <a href="spoedhulp.html">Spoedhulp</a>
                </li>
                <li id="_turn-white" class="_page-scroll" {{#is title "Tarieven"}} class="active"{{/is}}>
                    <a target="_blank" href="http://www.nza.nl/98174/139255/858862/TB-CU-7080-01_Tandheelkundige_zorg.pdf">Tarieven</a>
                </li>                    
                <li id="_turn-white" class="_page-scroll" {{#is title "Contact"}} class="active"{{/is}}>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>