---
title: Nieuws
layout: src/templates/layouts/base.hbs
content: src/templates/markdown/nieuws.tandartsgooi.md
---
<section>
    <div style="height:150px;background-color:#95a5a6;"></div>
</section>
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {{md content }}
        </div>
    </div>
</section>