<main id="sections" role="main">
  <section id="main">
    <div class="overlay">
      <article id="masthead" class="container">
        <div class="row">
          <header class="col-md-4 col-md-offset-4">
              <h2>Frontend Template</h2>
          </header>
        </div>
        <div class="row">
          <p class="col-md-4 col-md-offset-4">A frontend template that uses grunt to easily assemble static web-pages.</p>     
        </div>
      </article>
    </div>
  </section>
  <section>
    <article class="container">
      <div id="more-info" class="col-md-6 col-md-offset-3">
        <header>
            <h2>More Information</h2>
        </header>
<!-- {{#markdown }}
####My frontend template and static site generator.  
* Concatenate JavaScript (usually just jQuery and bootstrap) files and minify them into build/js/script.min.js  
* Process style.less file in to style.css  
* Concatenate CSS files (Mostly Bootstrap and style.css) and minify them into build/css/style.min.css  
* Take all images and optimise them (lossless compression) into build/img/*.jpg or png  
* Use assemble to generate html pages and blog posts  

#####Requires
node and npm

#####Usage
run `npm install` for dependencies
{{/markdown }} -->
{{md 'content.md' }} 
      </div>
    </article>
  </section>
  <hr>
  <section id="lorem">
    <div>
      <article class="container">
        <div class="col-md-6 col-md-offset-3">
          <div class="row">
            <header >
                <h2>Lorem Ipsum</h2>
            </header>
          </div>
          <div class="row">
            <div>
              <p>Lorem ipsum dolor sit amet, eos liber accommodare cu. Eam tibique pericula ut, in aliquip viderer postulant pro, veri oporteat definiebas cum eu. Per discere torquatos conclusionemque eu, sed te illud propriae tincidunt, illud expetenda omittantur pri ad. Conceptam scriptorem ex vim.
              </p>
              <p>
            Alia aperiam eruditi mea cu, vim quod hinc integre ne. Eos causae iuvaret aliquid ea, tation postea ut vix. Ex pro dicunt facilis omittantur, nec ne consulatu definitionem. Meliore quaerendum vel id.
              </p>
              <p>
            Eu utroque liberavisse delicatissimi his, euismod omnesque epicurei mei in, cu summo consequat intellegam vim. Ius principes conceptam cu. Praesent forensibus usu cu. Id nam fabulas apeirian petentium, modo vidit dicat vim cu.
              </p>
              <p>
            Nullam denique hendrerit ex pri. Ut libris mandamus necessitatibus quo, senserit indoctum has eu. Ad nonumy facilisis vis. Sea ne omnis choro, ceteros lucilius pri id. Viris maiorum ea vim, quis ignota scripta ut ius. Mundi integre constituam his ea, vim scripta aperiri definitiones at. Quem mediocrem iudicabit ex vel, admodum urbanitas adipiscing cum ex.
              </p>
              <p>
            Eam ne magna dolor adversarium, at impedit molestie mediocritatem sed. Congue debitis sea ex, dicam petentium ei mea. Nam te dolor numquam, putent facete sit ut, autem utinam perpetua sed ex. Omnes abhorreant qui eu. Ex saepe platonem elaboraret pri, ei quo luptatum pertinax.
              </p>
            </div>     
          </div>
        </div>
      </article>
    </div>
  </section>
</main>
